name: tests-product

on:
  pull_request:
    paths:
      - 'pasal-product/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: cd pasal-product && npm install && npm run test:ci